<h1><%= t('instructor_registrations')%></h1>
<table class="table" width="100%">
  <tr>
    <th><%= t('registrations.code')%></th>
    <th><%= t('registrations.date')%></th>
    <th><%= t('registrations.name')%></th>
    <th><%= t('registrations.phone')%></th>
    <th><%= t('registrations.courses')%></th>
    <th><%= t('registrations.experience')%></th>
    <th><%= t('registrations.website')%> / <%= t('registrations.twitter')%></th>
    <th><%= t('registrations.payed')%></th>
  </tr>
<% @registrations.each do |registration| -%>
  <tr<%= raw(' class="cancelled"') if registration.cancelled%>>
    <td><%= registration.id %></td>
    <td><%= registration.updated_at.to_s(:short) %></td>
    <td><%= registration.name %> &lt;<%= registration.email %>&gt;</td>
    <td nowrap="nowap"><%= registration.phone1 %><%= raw("<br/>#{registration.phone2}") if registration.phone2 %></td>
    <td><%= courses_s(registration.courses) %>
    <td><%= experience_s(registration.experience) %></td>
    <td><%= registration.website %> <br/> <%= "@#{registration.twitter}" unless registration.twitter.blank? %></td>
    <td><%= registration.payed ? t('yes') : t('no') %></td>
  </tr>
<% end -%>
</table>
<p><%= link_to t('exit'), logout_path%></p>