<%= content_tag :div, flash[:success], :class => 'success' if flash[:success]%>
<h1><%= t('instructor_registrations')%></h1>
<%= form_for :filter, :url => filter_registrations_path, :html => { :onsubmit => 'return confirm_submit(this)'} do %>
<div id="filter">
    <p><label class="clear" for="cancelled"><%= t('text') %></label>
    <%= text_field_tag :text, params[:text], :class => :text %></p>
    <% if admin? %><p><label class="clear" for="course"><%=t('courses')%></label> <%= select_tag :course, options_for_select(courses_options, params[:course]), :class => :text%></p><% end %>
    <p>
      <%= label nil, t('registrations.status'), :class => :clear %>:<% status_options.each do |option| %>
        <%= check_box_tag "status[]", option[1], is_status_checked(option[1], params), :id => "status_#{option[1]}"%> 
        <label class="clear <%= "status_#{option[1]}" %>" for="<%= "status_#{option[1]}" %>"><%= t("status_#{option[1]}") %></label>
      <% end %>
    </p>
    <p>
      <% if admin? %>
        <%= check_box_tag :cancelled, true, !params[:cancelled].nil? %> <label class="clear" for="cancelled"><%= t('show_cancelled') %></label>
        <%= check_box_tag :checked_in, true, !params[:checked_in].nil? %> <label class="clear" for="checked_in"><%= t('only_checked_in') %></label>
      <% end %>
    </p>
    <p><%= submit_tag t('filter')%> 
    <% if admin? %>
      | <%= link_to t('send_email'), 'javascript:;', :onclick => '$("#email_div").show();return false' %>
      | <%= link_to t('raffle'), raffle_registrations_path %>
      | <%= link_to t('new-registration'), new_registration_path %>
    <% end %>
    <% if admin? %>
      <%= label nil, t('order-by'), :class => :clear %>
      <%= select_tag :order_by, options_for_select({t('registrations.order-by.created-at') => 'created_at', t('registrations.order-by.name') => 'name'},@order_by), 
      {:onchange => 'submit()' } %>
      <%= link_to t('send-certificates'), send_certificates_registrations_path, :onclick => "return confirm('#{t('are-you-sure')}')" %>
    <% end%>
    </p>
</div>
  <% if admin? %>
  <div id="email_div" style="display:none">
    <p>
      <%= label :email_subject, t('email_subject')%>
      <%= text_field_tag :email_subject, '', :class => :text %>
    </p>
    <p>
      <%= label :email_text, t('email_text')%>
      <%= text_area_tag :email_text, '', :rows => 10, :cols => 80, :class => 'pre' %>
    </p>
    <p><%= submit_tag t('send'), :onclick => "this.form.action='#{send_email_registrations_path}'"%></p>
  </div>
  <% end %>
<% end # form %>
<p align="center"><%= @registrations.count.size %> <%= t('found')%> - <span id="checkin_count"><%= Registration.checked_in.size %></span> <%= t('check-ins')%></p>
<table class="table">
  <tr>
    <th><%= t('registrations.code')%></th>
    <th><%= t('registrations.date')%></th>
    <th><%= t('registrations.name')%></th>
    <th><%= t('registrations.cpf_cnpj')%></th>
    <th><%= t('registrations.phone')%></th>
    <th><%= t('registrations.courses')%></th>
    <th><%= t('registrations.experience')%></th>
    <th><%= t('registrations.website')%> / <%= t('registrations.twitter')%></th>
    <th><%= t('registrations.price')%></th>
    <th><%= t('registrations.status')%></th>
    <%= content_tag :th if admin?%>
  </tr>
<% @registrations.each do |registration| -%>
  <tr class="<%= "status_#{registration.status}" %><%= raw(' cancelled') if registration.cancelled%>">
    <td>
      <%= form_for registration, nil, :url => { :action => :checkin, :id => registration }, :html => { :method => :delete } do |f| %>
        <%= f.check_box :checkin, :class => 'checkin', :title => t('click-to-checkin')%>
      <% end if registration.status > 0 && admin? %>
      <%= registration.id %>
    </td>
    <td nowrap="nowap"><%= l registration.created_at, :format => :short %><br/><%= l registration.updated_at, :format => :short %></td>
    <td><%= registration.name %><br/> &lt;<%= registration.email %>&gt;
      </td>
    <td><%= content_tag :em, registration.company_name if registration.person_type == 'J' %> <%= registration.document_number %></td>
    <td nowrap="nowap"><%= registration.phone1 %><%= raw("<br/>#{registration.phone2}") unless registration.phone2.blank? %>
      / <%= registration.tshirt_size%></td>
    <td><%= courses_s(registration.courses) %>
    <td><%= experience_s(registration.experience) %></td>
    <td><%= link_to registration.website.truncate(20), registration.website unless registration.website.blank? %>
      <%= raw("<br/> @<a href=\"http://twitter.com/#{registration.twitter}\" target=\"blank\">#{registration.twitter}</a>") unless registration.twitter.blank? %></td>
    <td><%= number_to_currency(registration.total) %></td>
    <td><%= registration.status unless admin? %>
      <% if admin? %>
        <%= form_for registration do |f| %>
        <% f.select :status, status_options %>
        <% end %>
      <% end %>
      </td>
    <%= content_tag :td do %>
      <%= form_for registration, nil, :html => { :method => :delete } do |f| %>
      <%= link_to(t('edit'), edit_registration_path(registration)) %>
      <%= link_to(t('cancel'), registration, :class => 'cancel', :style => (registration.payed || registration.cancelled) ? 'display:none' : '') %>
      <% end %>
    <% end if admin? %>
  </tr>
<% end -%>
</table>
<p><%= link_to t('exit'), logout_path%></p>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function () {
    $('.checkin').click(function() {
      var checkbox = $(this)
      var form = checkbox.parent()
      $.get(form.attr('action'), form.serialize(), function(data, status) {
        if (data != 'ok') {
          alert('error: ' + data)
        } else {
          var row = form.closest('tr')
          row.animate({ opacity: 0.25 }, 200).animate({ opacity: 1 }, 200)
          var checkins = parseInt($('#checkin_count').text())
          checkins = (checkbox.attr('checked')) ? checkins+1 : checkins-1
          $('#checkin_count').text(checkins)
        }
      })
    })
    
    $('.edit_registration select').change(function() {
      var form = $(this).parent()
      var new_status = $(this).val()
      $.post(form.attr('action'), form.serialize(), function(data, status) {
        if (data != 'ok')
          alert('error: ' + data)
        else {
          var row = form.closest("tr")
          var cancel = form.parent().parent().find('.cancel')
          row.removeClass('status_0').removeClass('status_1').removeClass('status_2').removeClass('status_3')
          row.addClass('status_' + new_status)
          row.animate({ opacity: 0.25 }, 200).animate({ opacity: 1 }, 200)
          if (form.find('select').val() == 'true') {
            row.removeClass('cancelled')
            cancel.hide()
          } else {
            cancel.show()
          }
        }
      }, 'json')
    })
    
    $('.cancel').click(function() {
      if(confirm('<%= t('are-you-sure') %>')) {
        var form = $(this).parent()
        $.post(form.attr('action'), form.serialize(), function(data) {
          if (data != 'ok') {
            alert('error: ' + data)
          } else {
            var row = form.closest("tr")
            var cancel = form.parent().parent().find('.cancel')
            row.animate({ opacity: 0.25 }, 200).animate({ opacity: 1 }, 200)
            row.addClass('cancelled');
            cancel.hide()
          }
        }, "json");
        return false;
      } else {
          //they clicked no.
          return false;
      }
    })
  });
function confirm_submit(form) {
  if (form.action.match('<%= send_email_registrations_path %>$') != null && !confirm('<%= t('are-you-sure') %>')) { 
    return false 
  }
  return true
}
</script>
